*
{
	font-family: "arial";
	background-color: mintcream;
}
.linkclass
{
	color: hsl(44, 0%, 19%);
	text-decoration: none;
	font-weight: bold;
	transition: color 0.7s;
}
.linkclass:hover
{
	color: hsl(214, 100%, 27%);
}
.linkbarclass
{
	color: hsl(44, 0%, 19%);
	text-decoration: none;
	font-weight: bold;
	transition: color 0.7s;
}
main
{
	color: hsl(44, 0%, 19%);
	margin-left: 8rem;
}
.navbar
{
	width: 7rem;
	height: 100vh;
	position: fixed;
}
.navlist
{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
}
.navitem
{
	margin-bottom: 10px;
}